# Supabase Configuration
VITE_SUPABASE_URL=your_supabase_project_url_here
VITE_SUPABASE_ANON_KEY=your_supabase_anon_key_here

# PayPack Payment Gateway
PAYPACK_API_KEY=ID7ef50f2e-1659-11f1-aa4f-deadd43720af
PAYPACK_API_SECRET=340cf2aac9c7239b3eb96b8783a67206da39a3ee5e6b4b0d3255bfef95601890afd80709

# Server Configuration
PORT=3000
VITE_DISABLE_HMR=false